<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570406554758-f77t9dqkn9hurp0g9lqagrqqrgn385a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570406554758-f77t9dqkn9hurp0g9lqagrqqrgn385a7</string>
	<key>API_KEY</key>
	<string>AIzaSyDBIvwjiog3JSFa_d4F6olQQOjL1VtEUCM</string>
	<key>GCM_SENDER_ID</key>
	<string>570406554758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitbybit</string>
	<key>PROJECT_ID</key>
	<string>bitlearn-1fc4b</string>
	<key>STORAGE_BUCKET</key>
	<string>bitlearn-1fc4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570406554758:ios:bc0c31bda299653ff9d507</string>
</dict>
</plist>